body {
    overflow-x: hidden;
    font-family:Arial, sans-serif;
    font-size:13px;
    color:#999;
}

.icon-azul {
   color:#00ffff;
}
.icon-laranja {
   color:#ff6a00;
}
.icon-roxo {
   color:#6f1d93;
}
.icon-verde {
   color:#acea12;
}

h1 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;

} 
h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;

} 
p, li {
    font-size: 15px;
    color:#666666;
}
a {
    color: #4169e1;
    font-size:15px;
    text-decoration:none;
    
}

a:hover, a:focus, a:active, a.active {
    color: #2444a2;
    text-decoration:none;
} 

section {
    padding: 70px 0;
}
@media(min-width:768px) {
    section {
        padding: 80px 0;
    }
} 



/* navbar ------------------------------------------------------------------------------------------*/

.navbar-default {
    border-color: transparent;
    background-color: #05143f;
    padding:10px;
} 
.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.01);
}
.navbar-default .navbar-toggle {
    border-color: #222;
    background-color: #222;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4169e1;
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #4169e1;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0 !important;
    color: #fff;
    background-color:transparent;
    padding-bottom:13px;
    border-bottom: 3px #06F solid;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #06F;
    background-color:transparent;
    padding-bottom:13px;
    border-bottom: 3px #06F solid;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand { 
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        margin-top:-13px;

    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 5px;
        background-color: #05143f;
    }
}

/* fim navbar --------------------------------------------------------------------------------------*/

/* header ------------------------------------------------------------------------------------------*/
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text h1 {
color:#fff;
}
header .intro-text h2 {
     color:#06F;
font-size:10px !important;
}
header .parceiros {
    margin:30px;
}
header .parceiros a {
    margin-right:30px;
}
header .parceiros a:hover {
    opacity:0.9;
}
header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
header .ct-logo {
    color:#06F; 
    font-weight:bold;
}
header .btn-conte-me {
    padding: 20px 50px;    
    border-radius: 0px;
    text-transform: uppercase;
    font-family: Montserrat, Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
header .btn-conte-me:hover {
    color: #06F;
    background-color: transparent;
    border-color: #06F;
}
@media(min-width:768px) {
    header .intro-text {
        padding-top: 180px;
        padding-bottom: 200px;
    }
    header .intro-text h1 {
     color:#fff;
    }
    header .intro-text h2 {
     color:#06F;
     font-size:15px !important;
    }
} 
/* Fim header ------------------------------------------------------------------------------------------*/

/* Servi�os ----------------------------------------------------------------------------------------*/
#servicos {
        background-color: #ffffff;
    background-image: url(../img/fundo-servicos.png);
    background-position: center;
    background-repeat: no-repeat;
}
#servicos h2 {
    color: #06F;
    text-align:center;
    padding-bottom:30px;
}
#servicos p {
    text-align:center;
}
#servicos .panel {
    font-family:Arial, sans-serif;
    border:0 !important;
    background:#f9f9f9;
}
#servicos .panel-color {
    background:#06F;

}
#servicos .service-heading {
    margin: 15px 0;
    text-transform: none;
}
/* Fim Servi�os ----------------------------------------------------------------------------------------*/

/* Portifolio ----------------------------------------------------------------------------------------*/
@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
} 
#portfolio * {
    z-index: 2;
}
#portfolio {
   background: linear-gradient(to bottom, #f4f4f4, #fff);
    background-position: center;
    background-repeat: no-repeat;
}
#portfolio h2 {
    color: #06F;
    text-align:center;
    padding-bottom:30px;
}
#portfolio h4 {
    color: #2444a2;
    text-align:center;
}
#portfolio p {
    text-align:center;
}
#portfolio a {
    font-size:15px;
}

#portfolio .bkg-portfolio {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    text-align: center;
    background-color: #ffffff;
	min-height: 150px;
    border-radius: 0;
    box-shadow:0 6px 7px rgba(0,0,0,0.3);
}

#portfolio .portfolio-item a {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(59,101,225,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

/* Fim Portifolio ----------------------------------------------------------------------------------------*/


/* Sobre ----------------------------------------------------------------------------------------*/
#about {
    background-color: #ffffff;
}
#about h2 {
    color: #06F;
    text-align:center;
    padding-bottom:30px;
}
#about p {
    text-align:center;
}
#portfolio .item {
    right: 0;
    margin: 10px;
	height:450px;
}
/* Sobre ----------------------------------------------------------------------------------------*/

/* team ----------------------------------------------------------------------------------------*/
#team {
    background-color: #f2f2f2;
    background-image: url(../img/fundo-team.png);
    background-position: center;
    background-repeat: no-repeat;
}
#team h2 {
    color: #06F;
    text-align:center;
    padding-bottom:30px;
}
#team h4 {
    color:#2444a2;
}
.team-member .text-muted {
    font-family:Arial,sans-serif;
    color:#222;
    font-size:13px;
}
#team .social-buttons {
    margin-bottom: 0;
}
#team li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #2444a2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#team li a:hover, team li a:focus,team li a:active {
    background-color: #555;
    color:#ffffff;
} 
#team img {
    margin: 0 auto;
    border: 10px solid;
    border-color: transparent;
    box-shadow:0px 10px 10px rgba(0,0,0,0.3);
}
#team .fa-4x {
    color:#000000;
    border-radius:50%;
    border-color:transparent;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
#team .icon-bootstrap{
    font-family:Arial "Arial Black", Gadget, sans-serif;
     font-weight:bold;

}
/* team ----------------------------------------------------------------------------------------*/

/* Contato -------------------------------------------------------------------------------------*/
#contact {
    background-color: #081134;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
#contact h2 {
    color: #fff;
    padding-bottom:30px;
}
#contact input {
    border-radius:0;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-size:15px;
    background-color: transparent;
    border: 1px solid #06F;
    padding: 20px;
    color:#ffffff;
    height:auto;
}
#contact input:focus {
    border-color: #ffffff;
    box-shadow: none;
}
#contact textarea  {
    height: 222px;
        border-radius:0;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-size:15px;
    background-color: transparent;
    border: 1px solid #06F;
    padding: 20px;
    color:#ffffff;
}
#contact textarea:focus {
    border-color: #ffffff;
    box-shadow: none;
}
#contact .text-danger {
    color: #06F;
    font-family:Arial, sans-serif;
}
#contact button {
    padding: 20px;    
    border-radius: 0px;
    text-transform: uppercase;
    font-family: Montserrat, Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    background-color: #4169e1;
    border-color: #4169e1;
}
#contact button:hover {
    color: #06F;
    background-color: #2444a2;
    border-color: #2444a2;
}
/* Contato -------------------------------------------------------------------------------------*/

/* Footer -------------------------------------------------------------------------------------*/
footer p {
padding:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
footer .ct-logo {
    color:#06F;

}
footer .social-buttons {
    margin-bottom: 0;
}
footer li a {
    padding:10px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #999;

}
footer  li a:hover, footer  li a:focus, footer  li a:active {
    color:#2444a2;
} 
/* Footer -------------------------------------------------------------------------------------*/